[Unit]
Description=MinIO Object Storage
Documentation=https://min.io/docs/
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_user }}
Group={{ minio_group }}

ExecStart=/usr/local/bin/minio server \
{% for host in minio_hosts %}
{% for d in minio_disks %}
http://{{ host }}:{{ minio_api_port }}{{ d.mount }} \
{% endfor %}
{% endfor %}
--console-address :{{ minio_console_port }}

Environment="MINIO_ROOT_USER={{ minio_root_user }}"
Environment="MINIO_ROOT_PASSWORD={{ minio_root_password }}"

Restart=always
LimitNOFILE=65536
TasksMax=infinity

[Install]
WantedBy=multi-user.target